body {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    position: relative;
    max-width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    margin: 3em 1.5em;
}

.card {
    padding: 3em;
}

.card:nth-of-type(1) {
    background-color: hsl(31, 77%, 52%);
}

.card:nth-of-type(2) {
    background-color: hsl(184, 100%, 22%);
}

.card:nth-of-type(3) {
    background-color: hsl(179, 100%, 13%);
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    margin: 0.5em 0;
    font-size: 3em;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    padding-right: 1em;
    line-height: 1.7em;
}

.button {
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    padding: 1em 1.5em;
    margin-top: 1em;
    border-radius: 3em;
    background-color: hsl(0, 0%, 95%);
}

.card:nth-of-type(1) .button {
    color: hsl(31, 77%, 52%);
}

.card:nth-of-type(2) .button {
    color: hsl(184, 100%, 22%);
}

.card:nth-of-type(3) .button {
    color: hsl(179, 100%, 13%);
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    transform: translate(0, -1.5em);
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 380px) {
    body {
        height: 100vh;
        align-items: center;
        overflow-y: hidden;
    }
    
    .container {
        flex-direction: row;
    }

    .card {
        max-width: 225px;
    }

    h2 {
        margin: 0.8em 0;
    }

    .button {
        margin-top: 6em;
    }
}